<!DOCTYPE html>
<html>

<head>
    <title>Richard Luo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <link rel="stylesheet" href="/app/assets/css/app.css">
    <!-- favicon -->
    <!-- <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" /> -->
</head>

<body ng-app="App" ng-controller="core as core" ng-class="{'fixed': core.menuIsOpen}" ng-cloak>
    <div class="core" ng-controller="core">
        <div class="menu-toggle" ng-click="core.toggleMenu('menu')" ng-class="{'invis': core.menuIsOpen}"><i class="material-icons">menu</i></div>
        <div class="menu-wrapper" ng-class="{'visible': core.menuIsOpen}">
            <nav class="menu-container">
                <div class="menu-link" ng-click="core.toggleMenu('link')" ui-sref="home" ng-class="{'visible': core.menuIsOpen}">Home</div>
                <div class="menu-link" ng-click="core.toggleMenu('link')" ui-sref="about" ng-class="{'visible': core.menuIsOpen}">About</div>
                <div class="menu-link" ng-click="core.toggleMenu('link')" ui-sref="portfolio" ng-class="{'visible': core.menuIsOpen}">Portfolio</div>
                <div class="menu-link" ng-click="core.toggleMenu('link')" ui-sref="contact" ng-class="{'visible': core.menuIsOpen}">Contact</div>
                <div class="menu-link social-container" ng-class="{'visible': core.menuIsOpen}">
                    <a href="https://github.com/richardluo0506" target="_blank" class="social-link">
                        <i class="fa fa-github"></i>
                    </a>
                    <a href="https://linkedin.com/in/richardluo0506" target="_blank" class="social-link">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a target="_blank" href="/app/assets/richard_luo_resume.pdf" download="richard_luo_resume.pdf" class="social-link">
                        <i class="fa fa-file-pdf-o"></i>
                    </a>
                </div>
            </nav>
        </div>
        <nav class="alt"></nav>
        <div class="decoration"></div>
        <div class="view-wrapper" ng-class="{'rotated': core.menuIsOpen}">
            <div class="view-overlay" ng-class="{'lighten': core.menuIsOpen}" ng-click="core.toggleMenu('view')"></div>
            <div class="ui-vv" ui-view ng-cloak></div>
            <footer>
                <div class="copyright">© 2016. Richard Luo</div>
                <div class="social"><a target="_blank" href="https://github.com/richardluo0506"><i class="fa fa-github"></i></a><a target="_blank" href="https://linkedin.com/in/richardluo0506"><i class="fa fa-linkedin"></i></a><a target="_blank" href="/app/assets/richard_luo_resume.pdf" download="richard_luo_resume.pdf"><i class="fa fa-file-pdf-o"></i></a></div>
            </footer>
        </div>
    </div>
    <!-- Dependencies -->
    <!-- scrollReveal -->
    <script src="https://unpkg.com/scrollreveal@3.3.2/dist/scrollreveal.min.js"></script>
    <!-- EmailJS -->
    <script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
    <script type="text/javascript">
    (function() {
        emailjs.init("user_EWYcOOxNiNYIfXO8NoEuQ");
        window.sr = ScrollReveal({
            reset: true,
            mobile: false,
            viewFactor: 0.2
        });
    })();
    </script>
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- AngularJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular.min.js"></script>
    <!-- UI Router -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.min.js"></script>
    <!-- ngAnimate -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular-animate.min.js"></script>
    <script src="/bower_components/fox-angular-scrollReveal.js/dist/fox-angular-scrollReveal.min.js"></script>
    <!-- Main App -->
    <script src="/app/app.module.js"></script>
    <script src="/app/app.run.js"></script>
    <script src="/app/app.routes.js"></script>
    <script src="/app/core.controller.js"></script>
    <script src="/app/home/home.controller.js"></script>
    <script src="/app/about/about.controller.js"></script>
    <script src="/app/contact/contact.controller.js"></script>
    <!-- uiSmoothScrool -->
    <script src="/vendor/smooth-scroll.directive.js"></script>
</body>

</html>
