@import kurisutiiina/kurisutiiina
@import config
@import nav
@import home
@import portfolio

html, body
	+roboto

	height: 100%
	padding: 0
	margin: 0

body.fixed
	overflow: hidden

.core
	position: relative

.view-wrapper
	transition: 500ms $ease-natural
	-webkit-transform: perspective(0) translateZ(0) rotateY(0) translateX(0)
	transform: perspective(0) translateZ(0) rotateY(0) translateX(0)

.rotated
	height: 100vh
	overflow: hidden
	-webkit-transform: perspective(1800px) translateZ(-1300px) rotateY(-35deg) translateX(-20%)
	transform: perspective(1800px) translateZ(-1300px) rotateY(-35deg) translateX(-20%)
	-webkit-transform-origin: 100% 50%
	transform-origin: 100% 50%

.view-overlay
	position: fixed
	transition: 500ms $ease-natural
	background: white
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: 10
	pointer-events: none
	opacity: 0

	&.lighten
		opacity: 0.2
		pointer-events: initial

		&:hover
			cursor: pointer
			opacity: 0

.view-container
	min-height: 100vh
	background-color: white

.menu-toggle
	display: inline-block
	position: fixed
	top: 20px
	right: 20px
	z-index: 100
	transition: 200ms $ease-natural

	i
		font-size: 40px
		color: #5886ee
		transition: 200ms $ease-natural

	&:hover i
		cursor: pointer
		color: #8fadf1

	&.invis
		opacity: 0

.menu-wrapper
	position: fixed
	background: url(/app/assets/img/lights.jpg) center center no-repeat
	background-size: cover
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: -1

	&:before
		content: ""
		background: -webkit-linear-gradient(135deg, #073e3e 0%, #10143e 100%)
		background: linear-gradient(135deg, #073e3e 0%, #10143e 100%)
		opacity: 0.7
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0

	&.visible
		z-index: 0

	.menu-container
		position: absolute
		height: auto
		font-size: 2em
		top: 50%
		-webkit-transform: translateY(-50%)
		transform: translateY(-50%)
		-webkit-transform-style: preserve-3d
		transform-style: preserve-3d
		left: 12.5%
		font-size: 1em
		padding-top: 104px

		+media-sm
			font-size: 1.5em
			left: 20%
			padding-top: 124px


		+media-md-up
			font-size: 2em
			left: 20%
			padding-top: 144px


		.menu-link
			opacity: 0
			-webkit-transform: translateX(-350px) translateZ(-1000px)
			transform: translateX(-350px) translateZ(-1000px)
			transition: 500ms $ease-natural
			white-space: nowrap
			font-weight: 300
			margin: 0 0 -30px 0
			color: #fff
			-webkit-transform-style: preserve-3d
			transform-style: preserve-3d

			$menu-delay: 40ms

			&:nth-child(2)
				transition-delay: 40ms + $menu-delay

			&:nth-child(3)
				transition-delay: 80ms + $menu-delay

			&:nth-child(4)
				transition-delay: 120ms + $menu-delay

			&:nth-child(5)
				transition-delay: 160ms + $menu-delay

			&:nth-child(6)
				transition-delay: 0.2s + $menu-delay

			&.visible
				opacity: 1
				-webkit-transform: translateX(0) translateZ(0)
				margin: 0 0 30px 0
				transform: translateX(0) translateZ(0)
				white-space: nowrap
				font-weight: 300
				margin: 0 0 30px 0
				color: #fff
				-webkit-transform-style: preserve-3d
				transform-style: preserve-3d

				&:hover
					cursor: pointer

			&.social-container
				padding-top: 20px

				+media-sm
					padding-top: 40px


				+media-md-up
					padding-top: 60px


				i
					transition: 200ms $ease-natural
					color: #6e88a9
					font-size: 24px

					+media-sm
						font-size: 30px
						padding-right: 3px


					+media-md-up
						font-size: 36px
						padding-right: 6px

				.social-link
					margin-right: 8px

					&:hover i
						color: white

footer
	padding: 48px
	background-color: $dark
	color: $beige
	display: flex
	justify-content: space-between
	align-items: center

	.copyright
		font-weight: 300
		font-size: 14px

	.social i
		font-size: 24px
		padding-left: 15px